body{
    background:rgb(255, 255, 255);
}
:root{
    --colorTexto:black;
}
.login{
    background: rgb(222, 223, 223);
    padding: 40px 0;
    border-radius: 20px;
     display: flex; 
     justify-content: center;
    align-items: center; 
    margin:0px auto;
    box-shadow: 0 0 7px 7px rgb(78, 77, 77);
    width: 40%;
}

.regis{
    
    background: rgb(222, 223, 223);
    padding: 40px 0;
    border-radius: 20px;
     display: flex; 
     justify-content: center;
    align-items: center; 
    width: 50%;
    margin:0px auto;
    box-shadow: 0 0 7px 7px rgb(78, 77, 77);
}
h1{
    justify-content: center;
    display:flex;
}
.pass{
    background: rgb(222, 223, 223);
    padding: 40px 0;
    border-radius: 20px;
     display: flex; 
     justify-content: center;
    align-items: center; 
    margin:0px auto;
    box-shadow:0 0 7px 7px rgb(78, 77, 77);
    width: 55%;
}
button:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}
button{
    border: none;
    background-color: #c9f3f3;
    font-size: 17px;
     border-radius: 10px;
 }
 input{
    border: none;
     margin-bottom: 10px; 
    background:none ;
     width: 200px; 
     font-size: 18px; 
     border-bottom:1px solid var(--colorTexto) ;     
   }
   
   input:focus{
    outline:none;
}

